<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: green;color: white;">
        <h1>USER OK LOGIN!</h1>
        <h2><i>Bienvenido {{datos.nombre}}</i></h2>
        <br>
        <h3>dirección: {{datos.direccion}}</h3>
        <h4>visitas: {{contador}}</h4>
        <button class="btn btn-danger my-5" onclick="location.href='/logout'">LOGOUT</button>
    </div>
</div>

<body>
    <div class="chatContainer">
    <form id="chatform">
      <div class='form-group'>
        <label for='email'>Email</label>
        <input class='form-control' type='email' name='email' id='mail' required>
    </div>
    <div class='form-group'>
        <label for='nombre'>Nombre</label>
        <input class='form-control' type='text' name='nombre' id='nombre' required>
    </div>
    <div class='form-group'>
        <label for='apellido'>Apellido</label>
        <input class='form-control' type='text' name='apellido' id='apellido' required>
    </div>
    <div class='form-group'>
        <label for='alias'>Alias</label>
        <input class='form-control' type='text' name='alias' id='alias' required>
    </div>
    <div class='form-group'>
        <label for='edad'>Edad</label>
        <input class='form-control' type='number' name='edad' id='edad' required>
    </div>
    <div class='form-group'>
        <label for='url'>URL</label>
        <input class='form-control' type='text' name='avatar' id='url' required>
    </div>
    <div class='form-group'>
        <label for='mensaje'>Mensaje</label>
        <input class='form-control' type='text' name='mensaje' id='msg' required>
    </div>
    <div class='mt-2'>
    </input>
  </label>
  <button 
  type="submit" 
  class="btn btn-primary button">Send</button>
    </div>
      <!-- <li>
        <label>Mensaje
            <input 
            id="msg" 
            type="text" 
            placeholder="Enter Message" 
            required autocomplete="off" />
        </label>
      </li>
        <label>Email
            <input 
            id="mail" 
            type="email"
            placeholder="email">
          </input>
        </label>
        <button 
        type="submit" 
        class="btn btn-primary button">Send</button>
        <li>
        </li>
        <li>
        </li> -->
    </form>
    <div 
    class="chat" 
    id="chat"></div>
</div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="main.js"></script>
</body>